.main
{
  display: block;
  overflow-x: hidden;
  .head
  {
    width: 100vw;
    height: 380px;
    background-color: #ffffff;
    border-bottom-right-radius: 270px;
    display: flex;
    padding-left: 20px;
    .info
    {
      height: 100%;
      width: 1400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-top: 40px;
      .name
      {
        color: #0c0909;
        font-size: 45px;
        font-weight: bold;
      }
      .lastname
      {
        color: #0c0909;
        font-size: 45px;
        font-style: normal;
      }
      .block
      {
        width: 700px;
        height: 50px;
        background-color: #8e0505;
        text-align: center;
        border-radius: 40px;
        padding-top: 10px;
        letter-spacing: 4px;
        margin-bottom: 20px;
      }
      .block a
      {
        color: white;
        font-size: 25px;
        font-style: italic;
      }
      .inf1
      {
        color: #0c0909;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .inf2
      {
        color: #0c0909;
        font-size: 20px;
        font-weight: bold;
        transform: skewX(-5deg);
      }
    }
    .face
    {
      width: calc(100% - 1400px);
      height: 100%;
      border-bottom-right-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-right: 50px;
      .photo-img {
        width: 300px;
        height: 400px;
        object-fit: cover;
        border: 8px solid #8e0505;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
        border-radius: 20px;

        margin-top: 50px;
      }


      .nav-button
      {
        border: none;
        position: relative;
        height: 40px;
        width: 40px;
        left: 150px;
        top: -150px;
        background-color: #26323e;
        .other
        {
          width: 40px;
          height: 40px;

        }
      }
    }
  }
  .block2
  {
    height: 300px;
    width: 1500px;
    background-color: #8e0505;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    margin-top: -30px;
    padding: 40px 40px 40px 40px;
    display: flex;
    .communication
    {
      height: 100%;
      width: 500px;
      display: block;
      justify-content: space-between;
      .block3
      {
        width: 100%;
        height: 60px;
        background-color: #8e0505;
        border-radius: 50px;
        padding-left: 30px;
        padding-right: 20px;
        padding-top: 20px;
        margin-bottom: 20px;
        display: flex;
        .photo
        {
          .item
          {
            width: 28px;
            height: 28px;
            position: relative;
            bottom: 4px;
            margin-right: 20px;
          }
        }
        .line
        {
          background-color: #26323e;
          width: 2px;
          height: 150%;
          margin-top: -20px;
          margin-right: 20px;
        }

          .special
          {
            color: white;
            font-style: italic;
            font-size: 23px;
          }
          .normal
          {
            color: white;
            font-weight: bold;
            font-size: 20px;
          }
      }
    }
    .skills
    {
      margin-left: 50px;
      width: calc(100% - 600px);
      height: 100%;
      display: flex;
      flex-direction: column;
      .skill
      {
        font-size: 30px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
      }
      .lines
      {
        display: flex;
        position: relative;
        bottom: 10px;
        .line1
        {
          width: 40px;
          height: 5px;
          background-color: #26323e;
          border-radius: 3px;
         position: relative;
          bottom: 2px;
          right: -2px;
        }
        .line2
        {
          width: calc(100% - 40px);
          height: 3px;
          background-color: white;
          border-radius: 2px;
        }
      }
      .skills-container {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        margin-top: 20px;
      }

      .skill-column {
        flex: 1;
      }

      .skill {
        margin-bottom: 16px;
      }

      label {
        display: block;
        margin-bottom: 4px;
      font-size: 15px;
      }

      .bar-bg {
        background-color: #8e0505;
        height: 6px;
        border-radius: 5px;
        position: relative;
      }

      .bar-fill {
        background-color: #2d2e32;
        height: 6px;
        border-radius: 5px;
        position: relative;
        top: 0;
        left: 0;
      }

    }
  }
  .main2
  {
    display: flex;
  }
}
