<div class="main">
  <div class="education">
    <div class="educ">EDUCATION</div>
    <div class="lines">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
    <div  *ngFor="let item of Education" class="univers">
      <div class="year">
        <div class="text">{{item.data}}</div>
      </div>
      <div class="info">
        <div class="name">{{item.name}}</div>
        <div class="university">{{item.university}}</div>
        <div class="inform">{{item.info}}</div>
      </div>
    </div>
  </div>
  <div class="references">
    <div class="refer">REFERENCES</div>
    <div class="lines">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
    <div class="name">DARWIN B. MAGANA</div>
    <div class="address">2813 Shobe Lane Mancos, CO.</div>
    <div class="telephone">Tel: +1-970-533-3393</div>
    <div class="email">Email: www.yourwebsite.com</div>
  </div>
  <div class="languages">
    <div class="lang">LANGUAGES</div>
    <div class="lines">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
    <div class="language-list">
      <app-circle-diagram [percentage]="90" label="ENGLISH"></app-circle-diagram>
      <app-circle-diagram [percentage]="60" label="GERMAN"></app-circle-diagram>
      <app-circle-diagram [percentage]="45" label="SPANISH"></app-circle-diagram>
    </div>
  </div>
</div>
